* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body{font-family: 'Lato', sans-serif !important; font-weight: 400 !important;}
.wrapper{ width:100%;}
img{max-width: 100%;}
.img-fluid{width: 100% !important;}
ul{list-style: none;}
.relative{position: relative;}
.absolute{position: absolute;}
.header-fixed .menuNavBar{background: #171717; transition: 0.5s;}
.menuNavBar {padding: 40px 80px !important;}
.menu-header li {padding-left: 37px;}
.menu-header li a {color: #fff !important;font-size: 15px;font-weight: 900;text-transform: uppercase;min-width: 100px;text-align: center; transition: 0.5s; padding: 10px 20px;
border-radius: 25px;}
.menu-header li a.active, .menu-header li a:hover {background: #ffc61a !important;color: #010101 !important; border-radius: 25px;}
.hero {margin-top: -142px;}
.img-hero img {height: 740px;object-fit: cover;}
.filter-hero {background: rgb(15, 15, 15, 0.8);width: 100%; height: 100%;z-index: 2;}
.bloc-hero {z-index: 9;top: 50%;left: 50%;transform: translate(-50%, -50%);bottom: 0;}
.bloc-hero h1 {color: #ffc61a;font-weight: 900;font-size: 30px;text-transform: uppercase;margin-bottom: 67px;}
.bloc-hero a {color: #fff !important;text-decoration: none !important;font-size: 60px;}
.about {background: #ffc61a;padding: 140px 0;}
.txt-about h3 {color: #000000;font-weight: 900;font-size: 30px;text-transform: uppercase;}
.txt-about h2 {color: #101010;font-weight: 900;font-size: 50px;text-transform: uppercase;}
.txt-about p {color: #101010;font-size: 16px;margin-top: 40px;margin-bottom: 60px;}
.txt-about a {background: #000000;padding: 5px 30px;border-radius: 5px;display: inline-block;text-decoration: none !important;color: #fff;text-transform: uppercase;
font-family: Bebas Neue;font-size: 25px;transition: 0.5s;border: solid 1px #000000;}
.txt-about a:hover{background: #fff; border: solid 1px #fff; color: #000;}
.book-form-about {margin-left: 212px; background: #fff;}
.title-book-form {background: #171717;padding: 20px 30px;}
.title-book-form h3 {font-size: 35px;color: #fff;margin: 0;text-transform: uppercase;font-weight: 900;}
.title-book-form span {color: #ffc61a;}
.form-book {padding: 30px;}
.input-book {border-bottom: solid 2px #e4e4e4 !important;border-top: none !important;border-left: none !important;border-right: none !important;border-radius: 0 !important;padding-left: 0 !important;}
.input-book:focus{box-shadow: none !important;}
.input-book::placeholder, .input-book{color: #4b4b4b !important;font-size: 17px !important;font-weight: 600 !important;}
.select-book{background-image: none !important; cursor: pointer;}
.submit-book {margin-top: 44px;}
.submit-book button {background: #000000;padding: 5px 30px;border-radius: 5px;display: inline-block;text-decoration: none !important;color: #FFf !important;text-transform: uppercase;font-family: Bebas Neue;font-size: 25px;transition: 0.5s;border: solid 1px #000000;width: 100%;}
.submit-book button:hover {background: #ffc61a !important;color: #131313 !important;border: solid 1px #ffc61a !important;}
.our-tarifs {padding: 52px 0;}
.title-page h2 span {color:#ffc61a; display: block;}
.title-page h2 {color: #000;font-size: 35px;font-weight: 900;text-transform: uppercase;}
.bloc-tarifs {background: #f5f4f2;padding: 29px 37px;}
.title-page {margin-bottom: 120px;}
.img-tarif {top: -92px;left: 0;right: 0;}
.context-tarif {margin-top: 75px;}
.context-tarif h4 {color: #000;font-weight: 900;font-size: 30px;text-transform: uppercase; margin-bottom: 30px;}
.context-tarif p {color: #101010;font-size: 17px;margin-bottom: 34px;}
.price-tarif span {display: inline-block;color: #ffc61a;font-size: 45px;font-weight: 900; text-transform: uppercase;}
.link-tarif {margin-top: 40px;}
.link-tarif a {background: #ffc61a;padding: 5px 30px;border-radius: 5px;display: inline-block;text-decoration: none !important;color: #000;text-transform: uppercase;font-family: Bebas Neue;font-size: 25px;transition: 0.5s;border: solid 1px #ffc61a;}
.link-tarif a:hover{color: #000 !important;}
.tarifs-standard {background: #ffc61a;}
.link-standard a {background: #1b1b1b;color: #fff;}
.link-standard a:hover{color: #fff !important;}
.price-standard span {color: #131313;}
.star-tarif {bottom: 0;right: 0;}